.header-main {
  --transition: 0.2s all ease-in-out;
  height: 150px;
  background: #009688;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  box-shadow: var(--header-shadow);
  transition: var(--transition);
}

.header-main.header-fixed {
  position: fixed;
  height: 95px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 0.5rem;
}

.header-main.header-fixed ~ main {
  padding-top: 12rem;
}

.header-main.header-fixed .header-input-container {
  --height: 40px;
}

.header-main.header-fixed .header-main-content > h1 {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.header-main-wrapper {
  height: 100%;
  width: var(--width-wrapper);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1110px) {
  .header-main-wrapper {
    --width-wrapper: 90%;
  }
}

.header-main-content {
  position: relative;
  height: 100%;
}

.header-input-container {
  --height: 50px;
  width: 55%;
  position: absolute;
  border: 2px solid #009688;
  background-color: white;
  left: 50%;
  transform: translate(-50%);
  height: var(--height);
  bottom: calc((var(--height) / 2) * -1);
  box-shadow: var(--header-shadow);
  padding: 0 2rem;
  transition: var(--transition);
}

.header-input-bar {
  appearance: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #009688;
  font-size: 1.1rem;
  font-weight: 400;
}

.header-input-bar::placeholder {
  text-align: center;
  font-size: 1.1rem;
}

.header-main-content > h1 {
  margin-top: 1rem;
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
	transition: var(--transition);
}

.header-nav {
  display: flex;
  height: 3rem;
  justify-content: space-between;
}

.header-main-logo {
  height: 100%;
  width: 100px;
  display: flex;
}

.header-nav-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.header-nav-wrapper > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.header-nav-burguer {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 20px;
}

.header-nav-burguer > .burguer-line {
  height: 2px;
  background-color: white;
}

.cls-1-menu {
  fill: #ffffff;
}

.cls-2-menu {
  fill: #30c1a5;
}
