.header-main {
  --transition: 0.2s all ease-in-out;
  height: 155px;
  background: #009688;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  box-shadow: var(--header-shadow);
  transition: var(--transition);
}

.header-main.header-fixed {
  position: fixed;
  height: 95px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 0rem;
}

.header-main.header-fixed .header-nav-wrapper > a {
  letter-spacing: unset;
}
.header-main.header-fixed ~ main {
  padding-top: 12rem;
}

.header-main.header-fixed .header-input-container {
  --height: 40px;
  top: 80%;
}

.header-main.header-fixed .header-main-content > h1 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.header-main.header-fixed .header-main-logo {
  width: 85px;
}

.header-main.header-fixed .logo-gap {
  gap: 1.3rem;
  margin-top: 0.6rem;
}

.header-main-wrapper {
  height: 100%;
  width: var(--width-wrapper);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1110px) {
  .header-main-wrapper {
    --width-wrapper: 90%;
  }
}

.header-main-content {
  position: relative;
  height: 100%;
}

.header-input-container {
  --height: 50px;
  width: 605px;
  position: absolute;
  border: 2px solid #009688;
  border-radius: 3px;
  background-color: white;
  left: 50%;
  transform: translate(-50%);
  height: var(--height);
  bottom: calc((var(--height) / 2) * -1);
  box-shadow: var(--header-shadow);
  transition: var(--transition);
}

.header-input-container.alert {
  border: 2px solid #f44336 !important;
  box-shadow: 0 2px 2px 0 rgb(244 67 54 / 19%), 0 0 0 1px rgb(244 67 54 / 10%);
}

.header-input-container.alert .header-input-bar {
  color: #f44336;
}

.header-input-container-wrapper {
  display: flex;
  padding-left: 40px;
  gap: 0 1.4rem;
  height: 100%;
}

.header-input-container-wrapper .header-input-bar {
  width: 40%;
}

.svg-alert {
  --s: calc(var(--height) - 26px);
  position: absolute;
  left: 5px;
  width: var(--s);
  height: var(--s);
  top: 50%;
  transform: translateY(-50%);
}

.svg-alert svg {
  width: 100%;
  fill: #f44336;
}

.header-input-bar {
  appearance: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #009688;
  font-size: 1.1rem;
  font-weight: 400;
}

.header-input-bar::placeholder {
  text-align: center;
  font-size: 1.1rem;
}

.header-input-bar:-webkit-autofill {
  -webkit-text-fill-color: #009688;
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}

.header-input-container.alert .header-input-bar:-webkit-autofill {
  -webkit-text-fill-color: #f44336;
}

.header-input-search {
  position: absolute;
  background: transparent;
  border: none;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc(var(--height) - 5px);
  cursor: pointer;
}

.header-input-search .search {
  opacity: 0.4;
  stroke: #1b2738;
  width: 50%;
}

.header-main-content > h1 {
  margin-top: 1.1rem;
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  transition: var(--transition);
}

.header-nav {
  display: flex;
  padding: 0 5px;
  height: 3rem;
  justify-content: space-between;
}

.header-main-logo {
  width: 105px;
  display: flex;
}

.header-nav-wrapper {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: 100%;
}

.logo-gap {
  gap: 0.8rem;
}

.header-nav-wrapper > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.header-nav-burguer {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 18px;
}

.header-nav-burguer > .burguer-line {
  height: 2px;
  background-color: white;
}

.cls-1-menu {
  fill: #ffffff;
}

.cls-2-menu {
  fill: #30c1a5;
}
