<h1>Index</h1>

<button type='button' class='bIndexTemp'>
  <LinkTo @route='consultar-cnpj-gratis'>Consulta Cnpj</LinkTo>
</button>
<button type='button' class='bIndexTemp'>
  <LinkTo @route='consultar-cpf-gratis'>Consultar Cpf</LinkTo>
</button>
<button type='button' class='bIndexTemp'>
  <LinkTo @route='consultar-nfe-gratis'>Consultar Nfe</LinkTo>
</button>